<!DOCTYPE html>
<html ng-app="app1">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Page 2</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body ng-controller="Ctrl2 as ctrl">

<div class="container">

    <ng-include src="'/html/confirmDialog.html'"></ng-include>
    <ng-include src="'/html/editPerson.html'"></ng-include>


    <div style="position: fixed; top: 0; left: 50%; transform: translateX(-50%); text-align: center; width: 500px; max-width=80%; z-index: 10000">
        <uib-alert class="animated" type="{{ctrl.alert.type}}" close="ctrl.closeAlert()" dismiss-on-timeout="2000" ng-if="ctrl.alert.text">{{ctrl.alert.text}}</uib-alert>
    </div>


    <div class="row" style="margin: 2% 0 2% 0;">
        <div class="col-sm-1">
            <button class="btn btn-primary" ng-click="ctrl.edit()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <div class="col-sm-11 form-inline" style="text-align: right;">
			<th>amount from:</th>
			<input id="start" type="number" class="form-control" ng-model="ctrl.start" ng-change="ctrl.refreshPersons()"/>
			<th>to</th>
			<input id="end" type="number" class="form-control" ng-model="ctrl.end" ng-change="ctrl.refreshPersons()"/>
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" class="form-control" ng-model="ctrl.filter" ng-change="ctrl.refreshPersons()"/>
            <button class="btn btn-primary" ng-click="ctrl.prev()" ng-disabled="ctrl.nSkip < 10">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.nSkip"></span>-<span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.nSkip + ctrl.nLimit - 1 >= ctrl.count ? ctrl.count - 1 : ctrl.nSkip + ctrl.nLimit - 1"></span> /
            <span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.count"></span> of
            <span class="label label-default" style="display: inline-block; width: 50px;" ng-bind="ctrl.countTotal"></span>
            <button class="btn btn-primary" ng-click="ctrl.next()" ng-disabled="ctrl.nSkip + 10 >= ctrl.count">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <tbody>
            <tr><th>_id</th><th>firstName</th><th>lastName</th><th>amount</th></tr>
            <tr ng-repeat="person in ctrl.persons" ng-click="ctrl.edit(person._id)">
                <td ng-bind="person._id" style="width: 1%;"></td>
                <td ng-bind="person.firstName" style="width: 49%;"></td>
                <td ng-bind="person.lastName" style="width: 49%;"></td>
                <td ng-bind="person.amount" style="width: 1%; text-align: right;"></td>
            </tr>
        </tbody>
    </table>

</div>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/app1.js"></script>
    <script src="/js/ctrl2.js"></script>

</body></html>